{% extends "base.html" %}

{% block body %}

<ul class="nav nav-tabs">
  <li class="active"><a href="{% url '/index.html' %}">Plays</a></li>
  <li><a href="{% url '/players.html' %}">Players</a></li>
  <li><a href="{% url '/games.html' %}">Games</a></li>
</ul>

<p>
  <table class="table table-striped">
    <tr>
      <th>Game</th>
      <th>Date</th>
      <th>Location</th>
      <th>Length</th>
    </tr>
  {% for play in Play.select|dictsortreversed:"date" %}
    <tr>
      <td>{{ play.game.name }}</td>
      <td>{{ play.date }}</td>
      <td>{{ play.location }}</td>
      <td>{{ play.length }} min</td>
    </tr>
  {% endfor %}
  </table>
</p>

{% endblock %}
