{% extends "base.html" %}

{% block body %}

<ul class="nav nav-tabs">
  <li><a href="{% url '/index.html' %}">Plays</a></li>
  <li class="active"><a href="{% url '/players.html' %}">Players</a></li>
  <li><a href="{% url '/games.html' %}">Games</a></li>
</ul>

<p>
  <table class="table table-striped">
    <tr>
      <th>Player name</th>
      <th>Plays</th>
      <th>Wins / Defeats (Ratio)</th>
    </tr>

  {% for player in Player.select|dictsortreversed:"plays.count" %}
    <tr>
      <td>{{ player.name }}</td>
      <td>{{ player.plays.count }}</td>
      <td>
        {{ player.wins.count }} / {{ player.defeats.count }}
        ( {% if player.ratio != None %} {{ player.ratio|floatformat:2 }} {% else %} &infin; {% endif %} )
      </td>
    </tr>
  {% endfor %}

  </table>
</p>

{% endblock %}