<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Boardgame Nights</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="css/admin-lte.min.css" rel="stylesheet" type="text/css" />
    <link href="css/admin-lte-blue.min.css" rel="stylesheet" type="text/css" />

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="skin-blue sidebar-mini">
    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a href="index2.html" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>B</b>g<b>N</b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><i class="fa fa-trophy"></i> <b>B</b>oardgame <b>N</b>ights</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        {%
          set sidebar_menu = [
              ('index.html',   'plays',   'Plays'),
              ('games.html',   'games',   'Games'),
              ('players.html', 'players', 'Players')
            ]
        -%}
        <section class="sidebar">
          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <li class="header">NAVIGATION</li>
            <!-- Optionally, you can add icons to the links -->
            {% for (href, id, caption) in sidebar_menu %}
              <li {% if (id == active_page) %} class="active" {% endif %}>
                <a href="{{ href|e }}"><span>{{ caption|e }}</span></a>
              </li>
            {% endfor %}
          </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        {% block body %}
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <h1>
              Page Header
              <small>Optional description</small>
            </h1>
          </section>

          <!-- Main content -->
          <section class="content">

            <!-- Your Page Content Here -->

          </section><!-- /.content -->
        {% endblock %}
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
          Anything you want
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2015 <a href="#">Company</a>.</strong> All rights reserved.
      </footer>
      
    </div><!-- ./wrapper -->

    <!-- JavaScript -->
    <script src="js/vendor/jquery-2.1.4.min.js"></script>
    <script src="js/vendor/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/vendor/admin-lte.min.js" type="text/javascript"></script>
  </body>
</html>