{%
  set sidebar_menu = [
      ('index.html',   'plays',   'Plays'),
      ('games.html',   'games',   'Games'),
      ('players.html', 'players', 'Players')
    ]
-%}

<h1>Active page = {{ active_page }}</h1>

<section class="sidebar">
  <!-- Sidebar Menu -->
  <ul class="sidebar-menu">
    <li class="header">NAVIGATION</li>
    <!-- Optionally, you can add icons to the links -->
    {% for (href, id, caption) in sidebar_menu %}
      <li {% if (id == active_page) %} class="active" {% endif %}>
        <a href="{{ href|e }}"><span>{{ caption|e }}</span></a>
      </li>
    {% endfor %}
  </ul><!-- /.sidebar-menu -->
</section>
