{% extends "_layout.html.jinja" %}
{% set active_page = "games" %}

{% block body %}
<section class="content-header">
  <h1>Games</h1>
</section>

<section class="content">
  <table class="table table-striped">
    <tr>
      <th>Game name</th>
      <th>Plays</th>
      <th>Last played</th>
    </tr>

  {% for game in Game.select()|sort(attribute='count', reverse=True) %}
    <tr>
      <td>{{ game.name }}</td>
      <td>{{ game.count }}</td>
      <td>{{ game.lastplayed }}</td>
    </tr>
  {% endfor %}

  </table>
</section>

{% endblock %}