{% extends "_layout.html.jinja" %}

{% block body %}

<ul class="nav nav-tabs">
  <li><a href="index.html">Plays</a></li>
  <li><a href="players.html">Players</a></li>
  <li class="active"><a href="games.html">Games</a></li>
</ul>

<p>
  <table class="table table-striped">
    <tr>
      <th>Game name</th>
      <th>Plays</th>
      <th>Last played</th>
    </tr>

  {% for game in Game.select()|sort(attribute='count', reverse=True) %}
    <tr>
      <td>{{ game.name }}</td>
      <td>{{ game.count }}</td>
      <td>{{ game.lastplayed }}</td>
    </tr>
  {% endfor %}

  </table>
</p>

{% endblock %}