{% extends "_layout.html.jinja" %}
{% set active_page = "dashboard" %}

{% block body %}
<section class="content">
  <!-- Stat boxes -->
  <div class="row">
    <!-- Plays -->
    <div class="col-lg-4 col-xs-6">
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>{{ Play.select().count() }}</h3>
          <p>Plays</p>
        </div>
        <div class="icon">
          <i class="fa fa-trophy"></i>
        </div>
        <a href="plays.html" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <!-- Players -->
    <div class="col-lg-4 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>{{ Player.select().count() }}</h3>
          <p>Players</p>
        </div>
        <div class="icon">
          <i class="fa fa-users"></i>
        </div>
        <a href="players.html" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <!-- Games -->
    <div class="col-lg-4 col-lg-offset-0 col-xs-6 col-xs-offset-3">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>{{ Game.select().count() }}</h3>
          <p>Boardgames</p>
        </div>
        <div class="icon">
          <i class="fa fa-star"></i>
        </div>
        <a href="games.html" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Plays by month</h3>
        </div>
        <div class="box-body chart-responsive">
          <div class="chart" id="line-chart" style="height: 300px;"></div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block scripts %}
<script type="text/javascript" charset="utf-8">
  $(function () {
    var line = new Morris.Bar({
      element: 'line-chart',
      resize: true,
      data: [
        {% for (date, plays) in Play.lastPlaysByMonths(months=12)|reverse %}
            {
              y: "{{ date.strftime('%Y-%m') }}",
              plays: {{ plays|sum(attribute='quantity') }}
            },
        {% endfor %}
      ],
      xkey: 'y',
      ykeys: ['plays'],
      labels: ['Plays'],
      lineColors: ['#3c8dbc'],
      hideHover: 'auto'
    });
  });
</script>
{% endblock %}
