{% extends "_layout.html.jinja" %}
{% set active_page = "plays" %}

{% block body %}
<section class="content-header">
  <h1>Plays</h1>
</section>

<section class="content">
  <table class="table table-striped">
    <tr>
      <th>Game</th>
      <th>Date</th>
      <th>Location</th>
      <th>Length</th>
    </tr>
  {% for play in Play.select()|sort(attribute='date', reverse=True) %}
    <tr>
      <td>{{ play.game.name }}</td>
      <td>{{ play.date }}</td>
      <td>{{ play.location }}</td>
      <td>{{ play.length }} min</td>
    </tr>
  {% endfor %}
  </table>
</section>

{% endblock %}
