{% extends "_layout.html.jinja" %}
{% set active_page = "players" %}

{% block body %}
<section class="content-header">
  <h1>Players</h1>
</section>

<section class="content">
  <table class="table table-striped">
    <tr>
      <th>Player name</th>
      <th>Plays</th>
      <th>Wins / Defeats (Ratio)</th>
    </tr>

  {% for player in Player.select()|sort(attribute='plays', reverse=True) %}
    <tr>
      <td>{{ player.name }}</td>
      <td>{{ player.plays }}</td>
      <td>
        {{ player.wins }} / {{ player.defeats }}
        (
        {% if player.ratio != None %}
          {{ player.ratio|round(precision=2) }}
        {% else %}
          &infin;
        {% endif %}
        )
      </td>
    </tr>
  {% endfor %}

  </table>
</section>

{% endblock %}